.ingredientForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredientInput {
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.4rem;
}

.ingredientIcon {
  width: 1.3rem;
  margin: 0.4rem;
}

.ingredientIcon:hover {
  cursor: pointer;
}

.ingredientIcon:active {
  transform: scale(0.9);
  transition: 0.2s;
  cursor: pointer;
}

.ingredientButton {
  margin: 2rem 0 2rem 2rem;
}

.arrayHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#ingredientsArrayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  width: 240px;
  box-shadow: 10px 10px 5px burlywood;
}

#ingredient {
  border: 1px solid black;
  margin: 1rem;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  

  
  
}

#ingredient p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 75%;
  word-wrap: break-word;
  
}
