.results {
  display: flex;
  justify-content: left;
}

img {
  width: 23rem;
  height: 15rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgb(210, 171, 119);
  
}

p {
  text-align: left;
}

h4 {
  text-align: left;
}

li {
  text-align: left;
}

button {
  background-color: bisque;
  text-decoration: none;
  font-family: "modak", sans-serif;
  border: 1px solid bisque;
  font-size: 1.3rem;
  border-radius: .5rem;
  padding: .3rem;
  box-shadow: 5px 5px 3px burlywood;
  margin-bottom: 2rem;

}

button:hover {
  cursor: pointer;
}

button:active {
box-shadow: none;

}

.lets {
  font-family: "Pacifico",sans-serif;
  color: green;
}

.eat {
  font-family: "modak",sans-serif;
  color: brown;
}
.recipeTitle {
  margin-left: 2rem;
  font-family: "modak", sans-serif;
  font-size: 1.5rem;
}

.ingredientList {
    text-align: left;
    margin: 0 2rem 0 2rem;
}

.imageContainer {
  margin: 0 1rem 2rem 2rem;
}

@media screen and (max-width: 619px) {
img {
  width: 20rem;
  height: 12rem;
}

    .results {
        flex-wrap: wrap;
    }
  }
