.results {
  display: flex;
  justify-content: left;
  margin: 0 2px;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: burlywood;
  padding: 5px;
  align-items: center;
}

img {
  width: 23rem;
  height: 15rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgb(182, 138, 80);
  text-align: left;
  
}

h4 {
  text-align: left;
}

li {
  text-align: left;
}

button {
  background-color: bisque;
  text-decoration: none;
  font-family: "modak", sans-serif;
  border: 1px solid bisque;
  font-size: 1.3rem;
  border-radius: .5rem;
  padding: .3rem;
  box-shadow: 5px 5px 3px burlywood;
  margin-bottom: 2rem;

}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

button:active {
box-shadow: none;
transform: scale(0.9);

}

.lets {
  font-family: "Pacifico",sans-serif;
  color: green;
}

.eat {
  font-family: "modak",sans-serif;
  color: brown;
}
.recipeTitle {
  margin-left: 2rem;
  font-family: "modak", sans-serif;
  font-size: 1.5rem;
}

.summary {
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin: 1rem;
  text-align: left;
}

.anchor {
  color: beige;
  text-decoration: none;
  font-size: 1.3rem;
}

.anchor:active {
  color: white;
}

.imageContainer {
  margin: 0 1rem 2rem 2rem;

}

@media screen and (max-width: 619px) {
img {
  width: 20rem;
  height: 12rem;
}

    .results {
        flex-wrap: wrap;
    }
  }
