.results {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

img {
  width: 23rem;
  height: 15rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 3px black;
  margin: 1rem;
}

p {
  text-align: left;
  margin-left: 1rem;
}
