
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: 0 1rem 3rem 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 1px 3px 1px burlywood;
  background-color: beige;
  width: 75%;
  flex-wrap: wrap;
  
}

form div {
  border-radius: 0.5rem;
  border: 1px solid bisque;
  box-shadow: 7px 6px 10px burlywood;
  background-color: #ffffd7;
  margin: .6rem;
}

form div:hover {
  background-color: #fdfd96;
  cursor: pointer;
}

form div:active {
  box-shadow: 4px 4px 4px burlywood;
}

form div:has(input:checked) {
  background-color: #f2cc43;
}

label{
  padding: 0 1rem;
}

label:hover {
  cursor: pointer;
}

input {
  display: none;
}



@media screen and (max-width: 825px) {
  form {
    width: 100%;
  }
}
