body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background: url(/pattern-chicken.webp);
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: wheat;
  border: none;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: burlywood;
  border: 1px solid beige;
}

h2 {
  font-family: "Roboto", sans-serif;
}