.header {
  border-bottom: 3px solid rgb(141, 118, 89);
  padding: 0.5rem;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.good {
  color: green;
  font-family: "PAcifico", sans-serif;
}

.eats {
  color: brown;
  font-family: "Modak", sans-serif;
}

.chicken {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: none;
  box-shadow: none;
}
