
.searchContainer {
display:flex;

}

.optionDiv {
    border: 1px solid black;
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 1rem;
}

.optionDiv:hover {
    background-color: beige;
    cursor: pointer;
}

.optionDiv:active {
    color: white;
}



.option {
    padding: 1em;
    margin: 0;
   width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    border-radius: 1rem;
}

.header {
    font-family: "Roboto",sans-serif;
}