
.searchContainer {
display:flex;

}

.optionDiv {
    border: 1px solid black;
    width: 100%;
    text-decoration: none;
    color: black;
}

.optionDiv:hover {
    background-color: beige;
    cursor: pointer;
}

.optionDiv:active {
    color: white;
}



.option {
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Pacifico", sans-serif;
}

.header {
    font-family: "Roboto",sans-serif;
}