
.searchContainer {
display:flex;

}

.optionAnchor {
    border: 1px solid black;
    width: 100%;
    text-decoration: none;
    color: black;
}

.optionAnchor:hover {
    background-color: beige;
    cursor: pointer;
}

.optionAnchor:active {
    color: white;
}



.option {
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Pacifico", sans-serif;
}


@media screen and (max-width: 507px) {
    #option2 {
      font-size: 1.6rem;
    }
  }